@use './styles.scss';

html, body {
  background-color: black;
  margin: 0;
  height: 100%;
}

.container
{
	margin: 0 auto;
	padding: 0px;
	width: 980px;
	min-height: 1000px;
	background: rgb(232,232,232) url("../../public/images/bg.jpg");
	background-repeat: no-repeat;
	text-align:left;
	
	position: relative;
	top: 0px;
	left: 0px;
}

.body
{
	position: relative;
	left: 326px;
	top: 0px;
	width: 654px;
}

.content{
	font-family: Arial;
	font-size: 15px;
	min-height: 800px;
  // background-color: red;
  margin-right: 2%;
}