@use './styles.scss';

.dotButton {
  z-index: 9999;
  position: absolute;
  width: 2%; // This sets the width
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }

  &::before {
    content: "";
    display: block;
    padding-top: 100%; // This makes the height equal to the width
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    opacity: 1;
    transition: background-color 0.3s ease;
  }

  &.active::before {
    background-color: rgb(56, 168, 56); // or whatever active style you desire
  }
}


.imageWrapper {
  position: relative;
  display: inline-block;

  .bgImg {
    display: block; // Removes any unwanted space beneath the image
    max-width: 100%; // Ensures image is contained within its parent
  }

  .dotButton {
    z-index: 9999;
    position: absolute;
    width: 2%;
    height: 2%;
    transform: translate(-50%, -50%); 
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
  
    border-radius: 50%; 
    background-color: white; 
    opacity: 1;
  
    &:hover {
      opacity: 1; 
    }

    &.active {
      background-color: rgb(56, 168, 56);  // or whatever active style you desire
    }
  }
}
