@use './styles.scss';

/* Navbar.css */

header {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  padding: 0 2rem;
  background-color: styles.$mainColor;
  box-shadow: 0 6px 10px rgba(0,0,0,0.2);
  color: styles.$textColor;
  position: fixed;
  left: 0;
  right: 0;

  img {
    height: 6rem;
    width: 6rem;
  }

  .nav-btn {
    padding: 0.35rem;
    font-size: 2rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: styles.$textColor;
    display: none;
    opacity: 0;
  }
}

nav {
  display: flex;
  height: 100%;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
  }

  li {
    font-size: 2rem;
    font-weight: 200;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 2rem; 
    color: styles.$textColor;
    text-decoration: none;
    border-bottom: 0.2rem solid transparent;

    &:hover {
      color: styles.$secondaryColor;
      border-bottom-color: styles.$secondaryColor;;
    }
  }
}

@media only screen and (max-width: 768px) {

  header {
    .nav-btn {
      display: flex;
      opacity: 1;
    }

    nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: styles.$mainColor;
      transition: 1s;
      transform: translateY(-100vh);

      ul {
        flex-direction: column;
      }
    }

    .responsive-nav {
      transform: none;
      opacity: 1;
    }
  }
  
}