@use './styles.scss';

.componentContainer {
  position: absolute;
  top: 0;  /* Adjust these values as needed */
  left: 0; /* Adjust these values as needed */
  /* ... other styles */
}

.logo {
  margin-top: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
}
.description {
  // font-size: 1.5rem;
  font-weight: 400;
  // line-height: 1.05;
}
.title, .description {
  margin: 0;
  padding: 0;
}

.calendar {
  padding-left: 10rem;
  .calendarHeader {
    margin-bottom: 2rem;
    // background-color: aqua;
  }
  .calendarContainer {
    //padding: 0 2rem;
    .eventContainer {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      .locationContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }
      h1 {
        color: #000000;
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 0.5rem;
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0rem;
        line-height: 100%;
      }
      h3 {
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 0rem;
      }
      li {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 0rem;
      }
    }
  }
}

.videos {
  .videosHeader {
    padding-left: 10rem;
    margin-bottom: 2rem;
  }
  .videoContainer {
    padding-left: 5rem;
    .title {
      font-size: 2rem;
      font-weight: 700;
    }
    .video {
      margin: 0;
    }
  }
}

.music {
  overflow: auto; /* To clear the float */
  .title {
    margin: 0;
  }
  .media {
    float: left;
    margin-right: 1rem;
  }
  .text {
    margin: 0;
  }
}

// Contact Page

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px; /* Adjust the gap as needed */
}

.photo {
  position: relative;
  overflow: hidden;
  margin-bottom: 16px; /* Adjust the margin as needed */
}

.photo img {
  width: 100%;
  height: auto;
  display: block;
}

// Presskit

.masterDiv {
  margin-left: 80px;
  
  h2 {
    color: #003d4c;
    font-weight: 400;
    font-size: 27px;
    margin-bottom: 0;
    margin-top:16px;
  }
  
  p {
    color: #000000;
    font-weight: 400;
    margin: 0;
    // line-height: 1.25em;
  }
  
  b {
    color: #000000;
    font-weight: 600;
    margin: 0;
    // line-height: 1.25em;
  }

}

.presskitItem {
  color: #003d4c;
  font-style: italic;
  text-decoration: underline;
}

.itemContainer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;
  column-gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.electronicContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.gridsContainer {
  display: flex;
  flex-direction: row;
}

.gridListContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  .btitle {
    color: #000000;
    font-size: 18px;
    font-weight: 800;
    margin: 0;
    line-height: 1.25em;
  }
}

.venueContainer {
  display: flex;
  flex-direction: column;
  padding: 0px;
  padding-left: 0;
  border-radius: 10px;
}

.venueRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2px;
}

.venueIcon {
  margin-right: 8px;
  margin-left: 8px;
}

// Components

.paragraphGap {
  margin-bottom: 12px;
}


// global

h1 {
  color: #003d4c;
  font-weight: normal;
  font-size: 27px;
  margin-bottom: 0;
}

a {
  color: #003d4c;
}

a:hover {
  text-decoration: none;
}