@use './styles.scss';

.componentContainer {
  position: absolute;
  top: 0;  /* Adjust these values as needed */
  left: 0; /* Adjust these values as needed */
  /* ... other styles */
}

.logo {
  margin-top: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: 500;
}
.description {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.05;
}
.title, .description {
  margin: 0;
  padding: 0;
}

.calendar {
  padding-left: 10rem;
  .calendarHeader {
    margin-bottom: 2rem;
    // background-color: aqua;
  }
  .calendarContainer {
    //padding: 0 2rem;
    .eventContainer {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      .locationContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }
      h1 {
        color: #000000;
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 0.5rem;
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0rem;
        line-height: 100%;
      }
      h3 {
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 0rem;
      }
      li {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 0rem;
      }
    }
  }
}

.videos {
  .videosHeader {
    padding-left: 10rem;
    margin-bottom: 2rem;
  }
  .videoContainer {
    padding-left: 5rem;
    .title {
      font-size: 2rem;
      font-weight: 700;
    }
    .video {
      margin: 0;
    }
  }
}

.music {
  overflow: auto; /* To clear the float */
  .title {
    margin: 0;
  }
  .media {
    float: left;
    margin-right: 1rem;
  }
  .text {
    margin: 0;
  }
}

// Contact Page

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px; /* Adjust the gap as needed */
}

.photo {
  position: relative;
  overflow: hidden;
  margin-bottom: 16px; /* Adjust the margin as needed */
}

.photo img {
  width: 100%;
  height: auto;
  display: block;
}

// Components

.paragraphGap {
  margin-bottom: 12px;
}


// global

h1 {
  color: #003d4c;
  font-weight: normal;
  font-size: 27px;
  margin-bottom: 0;
}

a {
  color: #003d4c;
}

a:hover {
  text-decoration: none;
}