# See https://github.com/netlify/netlify-cms/blob/master/example/config.yml
backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

# display_url: https://netlify-cms-react-starter.netlify.com # This url will display in the top-right of the CMS
media_folder: "public/images/uploads" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images/uploads" # The src attribute for uploaded media will begin with /images/uploads

collections: # A list of collections the CMS should be able to edit
  - name: "pages"
    label: "Page"
    delete: false # Prevent users from deleting documents in this collection
    editor:
      preview: true
    files:
      - file: "content/pages/contact.md"
        label: "Contact Page"
        name: "contact-page"
        fields:
          - { label: Title, name: title, widget: string }
          - { label: Description, name: description, widget: markdown }
          - label: Images
            name: images
            widget: list
            fields:
              - { label: Image, name: image, widget: file }
              - { label: Description, name: description, widget: string}
      
      - file: "content/pages/presskit.md"
        label: "Press Kit"
        name: "presskit-page"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown" }
          - label: "Press Kit Items"
            name: "presskitItems"
            widget: "list"
            fields:
              - { label: "Text", name: "text", widget: "string" }
              - { label: "Press Kit Item File", name: "pressKitItemFile", widget: "file", required: false}
          - { label: "Electronic Press Kit Text", name: "ElectronicPressKitText", widget: "string" }
          - label: "Download Press Kit"
            name: "downloadPressKit"
            widget: "object"
            fields:
              - { label: "Download Press Kit Text", name: "DownloadPressKitText", widget: "string" }
              - { label: "Download Press Kit Link", name: "DownloadPressKitLink", widget: "file" }
          - { label: "Sub Download Press Kit Link", name: "SubDownloadPressKitLink", widget: "string" }
          - label: "Performance Venues"
            name: "performanceVenues"
            widget: "object"
            fields:
              - label: "Fairs & Festivals"
                name: "FairsFestivals"
                widget: "list"
                fields:
                  - label: "Venue"
                    name: "venue"
                    widget: "string"
                  - label: "Location"
                    name: "location"
                    widget: "string"
              - label: "Nightclubs/Cafes"
                name: "NightclubsCafes"
                widget: "list"
                fields:
                  - label: "Venue"
                    name: "venue"
                    widget: "string"
                  - label: "Location"
                    name: "location"
                    widget: "string"

      - file: "content/pages/calendar.md"
        label: "Calendar Page"
        name: "calendar-page"
        fields:
          - {label: Title, name: title, widget: string}
          - { label: Body, name: body, widget: text }
          - label: Events
            name: events
            widget: list
            fields:
              - {label: Date, name: date, widget: string}
              - {label: Title, name: title, widget: string}
              - {label: Location, name: location, widget: string}
              - {label: Phone Number, name: phonenumber, widget: string}
              - {label: Address, name: address, widget: string}
              - {label: Website, name: website, widget: string}

      - file: "content/pages/home.md"
        label: "Home Page"
        name: "home-page"
        fields:
          - {label: Title, name: title, widget: string}
          - {label: Featured Image, name: featuredImage, widget: image}
          - {label: Subtitle, name: subtitle, widget: markdown}
          - {label: Body, name: body, widget: markdown}
          - label: "Meta"
            required: false
            name: "meta"
            widget: "object"
            fields:
              - {label: Title, name: title, widget: string, required: false}
              - {label: Description, name: description, widget: text, required: false, pattern: [".{,300}", "Must not exceed 300 characters"]}
              - {label: Canonical Link, name: canonicalLink, widget: string, required: false}
              - {label: Noindex, name: noindex, widget: boolean, required: false}

      - file: "content/pages/videos.md"
        label: "Video Page"
        name: "video-page"
        fields:
          - {label: Title, name: title, widget: string}
          - {label: Body, name: body, widget: markdown}
          - label: Videos
            name: videos
            widget: list
            fields:
              - {label: Title, name: title, widget: string}
              - {label: Link, name: link, widget: string}

      - file: "content/pages/music.md"
        label: "Music Page"
        name: "music-page"
        fields:
          - name: music
            label: Music
            widget: list
            fields:
              - {label: Title, name: title, widget: string}
              - {label: Embed, name: embed, widget: string}
              - {label: Body, name: body, widget: markdown}
              - {label: Reviews, name: reviews, widget: markdown}

  - name: "settings"
    label: "Settings"
    delete: false # Prevent users from deleting documents in this collection
    editor:
      preview: false
    files:
      - file: "content/settings/global.yml"
        label: "Global Settings"
        name: "global-settings"
        fields:
          - {label: Site Title, name: siteTitle, widget: string}
          - {label: Site Url, name: siteUrl, widget: string, required: false}
          - {label: Site Description, name: siteDescription, widget: text, required: false}
          - label: Social Media Card
            name: socialMediaCard
            widget: object
            fields:
              - {label: Image, name: image, widget: image, required: false}
              - {label: Twitter Site Account, name: twitterSiteAccount, widget: string, required: false}
              - {label: Twitter Creator Account, name: twitterCreatorAccount, widget: string, required: false}
          - {label: Header Meta / Scripts, name: headerScripts, widget: text, required: false}
          - {label: Enable Service Worker Pre-Cache, name: enableServiceWorker, widget: boolean, required: false}
